### Atividade Machine Learning 

Desafio Kaggle escolhido: https://www.kaggle.com/competitions/house-prices-advanced-regression-techniques/overview

In [31]:
#Importação da biblioteca pandas
import pandas as pd

### Previsão para a base de Treino

In [32]:
#Definição da variavel que irá simular uma database
database = pd.read_csv('train.csv')

In [33]:
database.head(3)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500

#### Retirando colunas inválidas

O modelo não aceita string, então temos que deixar na base somente campos numéricos

E campos null para -1

In [34]:
colunasInvalidas = database.columns[database.dtypes != 'object']

In [35]:
databaseFiltered = database.loc[:,colunasInvalidas]
databaseFiltered.head(3)

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
0,1,60,65.0,8450,7,5,2003,2003,196.0,706,...,0,61,0,0,0,0,0,2,2008,208500
1,2,20,80.0,9600,6,8,1976,1976,0.0,978,...,298,0,0,0,0,0,0,5,2007,181500
2,3,60,68.0,11250,7,5,2001,2002,162.0,486,...,0,42,0,0,0,0,0,9,2008,223500

In [36]:
# Substituindo valores null por -1
databaseFiltered = databaseFiltered.fillna(-1)

#### Iniciando treinamento

https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html

In [37]:
# Selecionando SalePrice que é o valor que quero prever
X = databaseFiltered.drop('SalePrice', axis=1)
y = databaseFiltered.SalePrice

In [38]:
y.dtypes

dtype('int64')

In [39]:
from sklearn.model_selection import train_test_split

In [40]:
# Separação da base de treino e teste
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

#### Algoritmo

Usarei Regressão Linear https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html

In [43]:
from sklearn.linear_model import LinearRegression

In [44]:
reg_train = LinearRegression().fit(X_train, y_train)

In [45]:
y_reg_train = reg_train.predict(X_test)

### Previsão para a base de Teste

In [50]:
#Definição da variavel que irá simular uma database
dbTest = pd.read_csv('test.csv')

In [51]:
dbTest.head(3)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal

#### Retirando colunas inválidas

O modelo não aceita string, então temos que deixar na base somente campos numéricos

E campos null para -1

In [55]:
colunasNumericas = dbTest.columns[dbTest.dtypes != 'object']
colunasNumericas

Index(['Id', 'MSSubClass', 'LotFrontage', 'LotArea', 'OverallQual',
       'OverallCond', 'YearBuilt', 'YearRemodAdd', 'MasVnrArea', 'BsmtFinSF1',
       'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd',
       'Fireplaces', 'GarageYrBlt', 'GarageCars', 'GarageArea', 'WoodDeckSF',
       'OpenPorchSF', 'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea',
       'MiscVal', 'MoSold', 'YrSold'],
      dtype='object')

In [56]:
dbTest = dbTest.loc[:, colunasNumericas]

In [57]:
# Substituindo valores null por -1
dbTest = dbTest.fillna(-1)

#### Algoritmo

Utilizando o modelo do treinamento anterior e a base de teste

In [61]:
y_pred = reg_train.predict(dbTest)

In [62]:
dbTest['SalePrice'] = y_pred

In [68]:
result = dbTest[['Id', 'SalePrice']]
result.head(3)

     Id      SalePrice
0  1461  121717.547491
1  1462  136419.150857
2  1463  169185.099092

In [67]:
result.to_csv('resposta.csv',index=False)